*{
    margin: 0;
    padding: 0;
}


#header {
    display: flex;
    justify-content: space-between;
    background: rgb(248, 248, 248);
    padding: 20px 80px;
    box-shadow: 0 5px 15px(0, 0,  0,  0.06);
    border-bottom: #f7efe8 0.2px solid;
    z-index: 999;
    position: sticky;
    top: 0;
    font-weight: 300 ;
    font-family: roboto;
    left: 0;

}
#header h3{
    color: #ff851b;
    text-decoration: none;
}
#header a{
    text-decoration: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}


#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    position: relative;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ff851b;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: #ff851b;
    position: absolute;
    bottom: -4px;
    left: 0px;
}


#hero {
    background-color: rgb(248, 248, 248);
    height: 90vh;
    padding: 0  60px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero h4 {
    padding-bottom: 15px;
}
#hero h1 {
    color: #ff851b;
}
#hero button{
    margin-top: 10px;
    background-color: #ff851b;
    color: #f7efe8;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
}

.section-p1{
    padding: 40px 80px;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 12px 55px ;
    box-shadow: 20px 20px 34px rgba(0,  0,  0,  0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 34px rgba(70, 62, 211, 0.1);
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ff851b;
    display: inline-block;
    background-color: #f8e4d2;

    
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box:nth-child(2)  h6{
    background-color: #ba90ff;
}
#feature .fe-box:nth-child(3)  h6{
    background-color: #b4ffc7;
}
#feature .fe-box:nth-child(4)  h6{ 
    background-color: #dfa0a0;
}
#feature .fe-box:nth-child(5)  h6{
    background-color: #fff8d3;
}
